<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><i class="ri-dashboard-fill"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/users" routerLinkActive="active" class="nav-link"><i class="ri-user-2-fill"></i> Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="/roles" routerLinkActive="active" class="nav-link"><i class="ri-user-settings-fill"></i> Roles</a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" class="nav-link"><i class="ri-currency-fill"></i> Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/orders" routerLinkActive="active" class="nav-link"><i class="ri-ship-2-fill"></i> Orders</a>
      </li>
    </ul>
  </div>
</nav>
